<%= form_for @course do |f| %>
  <% if @course.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
    </h2>

    <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


    Name: <%= f.text_field :name %>
    <%= "Name " + @course.errors[:name].join("; ") if @course.errors[:name].size > 0 %><br /><br />

    <% if params[:teacher_id] || @visitor_is_self %>
      <%= f.hidden_field(:teacher_id) %>
    <%= "Teacher " + @course.errors[:teacher].join("; ") if @course.errors[:teacher].size > 0 %><br /><br />
    <% else %>
      Teacher: <%= f.select(:teacher_id, ['', *@teachers]) %>
      <%= "Teacher " + @course.errors[:teacher].join("; ") if @course.errors[:teacher].size > 0 %><br /><br />
    <% end %>

    Description : <%= f.text_area :description %>
    <%= "Description " + @course.errors[:description].join("; ") if @course.errors[:description].size > 0 %><br /><br />

    Status: <%= f.select(:status, ['public', 'draft']) %>
    <%= "Status " + @course.errors[:status].join("; ") if @course.errors[:status].size > 0 %><br /><br />

    <%= f.submit %>
<% end %>
