<%= render @course %>

<%= render partial: 'shared/update_delete', locals:{edit_path: edit_course_path(@course), delete_path: course_path(@course) } %>

<% if session[:type] == 'student' && @course.students.find_by(id: current_student.id).nil?#offer_course? %>
  <%= link_to "Add to My Courses", student_add_course_path({:student_id => current_student.id, :course_id => @course.id}) %><br />
<% elsif session[:type] == 'student' %>
  <%= link_to "Remove from My Courses", student_remove_course_path({:student_id => current_student.id, :course_id => @course.id}) %><br />
<% end %>

<h2>Lessons</h2>
<%= render partial: 'shared/create_path', locals:{type: 'Lesson', new_path: new_lesson_path+"?course_id=#{@course.id}" } if @teacher_or_admin %><br />
<%= render partial: 'shared/array_links', locals:{array: @course.lessons, method: 'name'} %>


<% if @teacher_or_admin %>
  <h2>Students</h2>
  <%= render partial: 'shared/array_links', locals:{array: @course.students, method: 'email'} %><br /><br />
<% end %>
