<h1><%= @course.name %></h1>
<h2>Taught by: <%= link_to @course.teacher.username, @course.teacher %></h2>
<p><%= @course.description %></p>
<%= link_to "Edit", edit_course_path(@course) %>
<%= button_to "Delete", course_path(@course), method: :delete %>
