<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'nav_bar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header></header>
    <%= render 'layouts/nav' %>

      <% #session.clear %>
      <% #= session.keys %>

      <% #= params.keys %>
      <% #= params[:code] %>
      <% #= params[:state] %>
      <% #= params[:teacher_id] %>
      <% #= params[:controller] %>
      <% #= params[:action] %>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice].html_safe %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error].html_safe %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
